<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>문의 기능 테스트 뷰</h1>
<form action="ddd" method="post">
    <table>
        <tr>
            <td>
                작성자<input type="text" name="writer">
            </td>
            <td>
                제목<input type="text" name="subject">
            </td>
        </tr>
        <tr>
            <td>
                내용<textarea name="content"></textarea>
            </td>
            <td>
                <input value="전송" type="submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>