<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main/head.css}">
    <script th:src="@{/main/fragment.js}"></script>
    <title>차량 사고 메인 화면</title>
</head>
<style>
    /* body{
        background-image : url("https://images.unsplash.com/photo-1554034483-04fda0d3507b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDEyfHx3YWxscGFwZXJ8ZW58MHx8fHwxNjg2MDM2Mzc2fDA&ixlib=rb-4.0.3&q=80&w=2000");
    } */
    table {
        border-collapse: separate;
        border-spacing: 10px 20px;
    }

    table tr td {
        width: 400px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        /* 제목이 정해진 길이를 넘어가면 말줄임표 표시*/
        text-overflow: ellipsis;
        /* 글자가 줄바꿈되는 것을 방지*/
        white-space: nowrap;
        background-color: rgb(255, 248, 240);
        border-radius: 4px;
    }

    a {
        text-decoration: none;
    }

    button {
        margin-top: 20px;
        margin-left: 10px;
        padding: 8px 16px;
        background-color: #8b89fa;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<body>
    <div class="wrapper">
        <div class="header-container" th:fragment="header">
            <div class="logo-nav-container">
                <div class="logo-container">
                    <img id="like" th:src="@{/LikeImg/차량사고 커뮤니티 로고.png}" width="150" alt="로고">
                    <h2><b>Help PSY</b></h2>
                </div>
                <div class="nav-links">
                    <a href="/main">메인 화면</a>
                    <a href="/mainFreeBulletin">자유게시판</a>
                    <a href="/accidentmain">사고게시판</a>
                    <a href="/inquiry">문의하기</a>
                    <a href="/respondent">답변 (관리자)</a>
                    <a href="/map">지도</a>
                </div>
                <div class="login-section">
                    <div id="memberBox">
                        <div th:if="${session.userAlias == null}">
                            <a href="/signInMain"><input type="button" value="로그인"></a>
                            <a href="/signUpMain"><input type="button" value="회원가입"></a>
                        </div>
                        <div th:if="${session.userAlias != null}">
                            <label th:text="${session.userAlias} + '님 환영합니다.'"></label>
                            <a th:href="@{'/profile?alias=' + ${session.userAlias}}"><input type="button"
                                    value="정보"></a>
                            <input type="button" value="로그아웃" onclick="logout()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div class="welcome-message">
                Help PSY 커뮤니티에 오신 것을 환영합니다.
            </div>
            <div class="best-sections">
                <div class="best-section" style="border-radius: 10px;">
                    <h3 style="text-align: center;">자유게시판 추천글</h3>
                    <button type="button" onclick="freeLike()">좋아요</button>
                    <button type="button" onclick="freeView()">조회수</button>
                    <table id="freeLike">
                        <!-- 좋아요 개수 상위 5개 -->
                        <tr th:each="top3ViewLikes : ${top3ViewLikes}">
                            <!-- <span th:text="${top3ViewLikes.no}" class="freeNumber" style="display: none;"></span> -->
                            <td><a th:text="${top3ViewLikes.title}"
                                    th:href="@{specificBulletin(no=${top3ViewLikes.no}, userName=${session.userAlias})}"></a>
                            </td>
                        </tr>
                    </table>
                    <table id="freeView" style="display: none;">
                        <!-- 조회수 상위 5개 -->
                        <tr th:each="top3ViewFree : ${top3ViewFree}">
                            <td><a th:text="${top3ViewFree.title}"
                                    th:href="@{specificBulletin(no=${top3ViewFree.no}, userName=${session.userAlias})}"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="best-section" style="border-radius: 10px;">
                    <h3 style="text-align: center;">사고게시판 추천글</h3>
                    <button type="button" onclick="accAll()">전체</button> &nbsp;
                    <span>
                        <select name="region" id="region" style="width: 150px; height: 34px;">
                            <option>지역을 선택하세요</option>
                            <option value="서울">서울</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="인천">인천</option>
                            <option value="광주">광주</option>
                            <option value="대전">대전</option>
                            <option value="울산">울산</option>
                            <option value="세종">세종</option>
                            <option value="경기">경기</option>
                            <option value="강원">강원</option>
                            <option value="충북">충북</option>
                            <option value="충남">충남</option>
                            <option value="경북">경북</option>
                            <option value="경남">경남</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="제주">제주</option>
                        </select>
                    </span>
                    <span id="region2" style="display: none;"></span>
                    <!--전체 조회수 상위 5개-->
                    <table id="accAll">
                        <tr th:each="top3ViewAccident : ${top3ViewAccident}">
                            <td><a th:text="${top3ViewAccident.title}"
                                    th:href="@{'/accidentview/' + ${top3ViewAccident.id}}"></a>
                            </td>
                        </tr>
                    </table>
                    <!--지역 조회수 상위 5개-->
                    <table id="accLocal">
                        <tr th:each="top3Region : ${top3ViewAccidentRegion}">
                            <td><a th:text="${top3Region.title}" th:href="@{'/accidentview/' + ${top3Region.id}}"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <div id="footer" th:fragment="footer">
        <hr>
        <p>개발자 이메일 : human@gmail.com / 대표 이름 : human</p>
    </div>
</body>

</html>
<script>
    function logout() {
        location.href = '/logout'
    }

    function freeLike() {
        document.getElementById("freeLike").style.display = 'block';
        document.getElementById("freeView").style.display = 'none';
    }
    function freeView() {
        document.getElementById("freeLike").style.display = 'none';
        document.getElementById("freeView").style.display = 'block';
    }
    function accAll() {
        location.href = "/main"
        //document.getElementById("accAll").style.display = 'block';
        //document.getElementById("accLocal").style.display = 'none';
    }

    // 사고게시물 지역 선택
    const regionSelect = document.querySelector('#region');
    regionSelect.addEventListener("change", (event) => {
        const result = document.querySelector("#region2");
        result.textContent = `${event.target.value}`;
        location.href = "/main/local/" + regionSelect.value;
        document.getElementById("accAll").style.display = 'none';
        document.getElementById("accLocal").style.display = 'block';
    });
</script>