<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
</head>
<body>
<h1>프로필 수정</h1>

<form action="/update" method="post">
    <!-- 아이디는 수정 불가능하게 readonly 처리 -->
    <label>
        아이디:
        <input type="text" name="userId" th:value="${user.userId}" readonly>
    </label>
    <br>

    <label>
        새 비밀번호:
        <input type="password" name="userPass" th:value="${user.userPass}">
    </label>
    <br>

    <label>
        별명:
        <input type="text" name="alias" th:value="${user.alias}">
    </label>
    <br>

    <label>
        소개글:<br>
        <textarea name="intro" rows="5" cols="50" th:text="${user.intro}"></textarea>
    </label>
    <br><br>
    <a href="main"><input id="main" type="button" value="홈" onclick=""></a>
    <input type="submit" value="수정하기">
</form>

</body>
</html>
