<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TEXTLayer</title>
    <!-- API key를 포함하여 브이월드 API URL을 지정하여 호출끝  -->
    <script type="text/javascript"
        src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=CEB52025-E065-364C-9DBA-44880E3B02B8"></script>
</head>

<body>
    <div id="vmap" style="width:100%;height:350px;left:0px;top:0px"></div>

    <script>
        var vmap;
        var textLayer;

        vw.ol3.MapOptions = {
            basemapType: vw.ol3.BasemapType.GRAPHIC,
            controlDensity: vw.ol3.DensityType.EMPTY,
            interactionDensity: vw.ol3.DensityType.BASIC,
            controlsAutoArrange: true,
            homePosition: vw.ol3.CameraPosition,
            initPosition: vw.ol3.CameraPosition
        };

        vmap = new vw.ol3.Map("vmap", vw.ol3.MapOptions);

        var count = 0;

        var epsg = "EPSG:4326";
        var distance = 40;
        var url = "/data/map/4326.txt";
        textLayer = new vw.ol3.layer.TEXTLayer(vmap, epsg, url);
        textLayer.draw(distance);

        var distance = 100;
        function addTextLayer(fileObj) {
            var epsg = document.getElementById('epsg').value;

            if (textLayer == null) {
                textLayer = new vw.ol3.layer.TEXTLayer(vmap, epsg);
            } else {
                vmap.removeLayer(textLayer);
                textLayer = null;
                textLayer = new vw.ol3.layer.TEXTLayer(vmap, epsg);
            }

            var files = fileObj.files;
            if (files.length != 0) {
                var fileName = files[0].name;
                var ext = fileName.split('.').pop();
                if (ext == 'txt' || ext == 'TXT') {
                    if (window.File && window.FileReader && window.FileList
                        && window.Blob) {
                        var value;
                        if (files) {
                            for (var i = 0, f; f = files[i]; i++) {
                                var r = new FileReader();
                                r.onload = (function (f) {
                                    return function (e) {
                                        var contents = e.target.result;
                                        value = contents;
                                        textLayer.readDraw(epsg, distance, value);
                                    };
                                })(f);
                                r.readAsText(f);
                            }
                        } else {
                            alert("Failed to load files");
                        }
                    } else {
                        alert('This browser is not supported File APIs');
                    }
                } else {
                    alert("지원하는 형식이 아닙니다.");
                }
            }
        };
    </script>

    EPSG : <select name="epsg" id="epsg">
        <option value="EPSG:4326">EPSG:4326</option>
        <option value="EPSG:900913">EPSG:900913</option>
    </select>
    <input type="file" id="file1" onchange="addTextLayer(this)" />
</body>

</html>