<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main/head.css}">
    <script th:src="@{/main/fragment.js}"></script>
    <title>차량 사고 메인 화면</title>
</head>

<body>
    <div class="wrapper">
        <div class="header-container" th:fragment="header">
            <div class="logo-nav-container">
                <div class="logo-container">
                    <img id="like" th:src="@{/LikeImg/차량사고 커뮤니티 로고.png}" width="150" alt="로고">
                    <h2><b>Help PSY</b></h2>
                </div>
                <div class="nav-links">
                    <a href="/main">메인 화면</a>
                    <a href="/mainFreeBulletin">자유게시판</a>
                    <a href="/accidentmain">사고게시판</a>
                    <a href="/inquiry">문의하기</a>
                    <a href="/respondent">답변 (관리자)</a>
                    <a href="/map">지도</a>
                </div>
                <div class="login-section">
                    <div id="memberBox">
                        <div th:if="${session.userAlias == null}">
                            <a href="/signInMain"><input type="button" value="로그인"></a>
                            <a href="/signUpMain"><input type="button" value="회원가입"></a>
                        </div>
                        <div th:if="${session.userAlias != null}">
                            <label th:text="${session.userAlias} + '님 환영합니다.'"></label>
                            <a th:href="@{'/profile?alias=' + ${session.userAlias}}"><input type="button"
                                    value="정보"></a>
                            <input type="button" value="로그아웃" onclick="logout()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div class="welcome-message">
                Help PSY 커뮤니티에 오신 것을 환영합니다.
            </div>
            <div class="best-sections">
                <div class="best-section">
                    <h3 style="text-align: center;">자유게시판 추천글</h3>
                    <!-- 좋아요 개수 상위 3개 -->
                    <ul th:each="top3ViewLikes : ${top3ViewLikes}">
                        <span th:text="${top3ViewLikes.no}" class="freeNumber" style="display: none;"></span>
                        <li><a th:text="${top3ViewLikes.title}"
                                th:href="@{specificBulletin(no=${top3ViewLikes.no}, userName=${session.userAlias})}"></a>
                        </li>
                    </ul>
                    <!-- 조회수 상위 3개 -->
                    <ul th:each="top3ViewFree : ${top3ViewFree}">
                        <!-- <li><a th:if="${top3ViewFree.no} != $('.freeNumber').html()" -->
                        <li><a th:text="${top3ViewFree.title}"
                                th:href="@{specificBulletin(no=${top3ViewFree.no}, userName=${session.userAlias})}"></a>
                        </li>
                    </ul>
                </div>
                <div class="best-section">
                    <h3 style="text-align: center;">사고게시판 추천글</h3>
                    <ul th:each="top3ViewAccident : ${top3ViewAccident}">
                        <li><a th:text="${top3ViewAccident.title}"
                                th:href="@{'/accidentview/' + ${top3ViewAccident.id}}"></a>
                        </li> <!--session은 개별 게시물에서 처리?-->
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <div id="footer" th:fragment="footer">
        <hr>
        <p>개발자 이메일 : human@gmail.com / 대표 이름 : human</p>
    </div>
</body>

</html>
<script>
    function logout() {
        location.href = '/logout'
    }
</script>